<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let vendedor of vendedores">
      <ion-label button (click)="selec_vend(vendedor)">{{vendedor.nombre}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
