<ion-header>
  <ion-toolbar>
    <ion-title>Comandas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of [1,2,3,4,5,6,7,8]" size="3">
        <ion-card class="card-center">
          <ion-item>
            <ion-fab-button (click)="addOrders(item)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
