
ion-content{

  --ion-background-color:linear-gradient(194deg, rgba(253,183,12,1) 0%, rgba(244,120,31,1) 100%);
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    //transform: translateY(-50%);
    transform: translate(30%, -50%)
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }