<ion-content [fullscreen]="true" padding id="login-container">
  <div id="container">
    <form [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <img src="../../../assets/img/logo.png" alt="Mariscos Arroyo">
              <h3>Iniciar sesion</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="username" type="text" formControlName="username" placeholder="usuario"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" formControlName="password" placeholder="contraseña" ></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" expand="block" color="primary">Entrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
