<!--<ion-header>
  <ion-toolbar>
    <ion-title>Orden</ion-title>
    <ion-button slot="end" color="danger" style="margin-top: 1rem;">
      <ion-icon slot="start" name="close-circle" ></ion-icon>
      Cancelar
    </ion-button>
    <ion-button slot="end" (click)="cerrarOrden()">
      <ion-icon  name="remove" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar>
    <ion-title>Comanda</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteItem()" color="danger">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>  
      <ion-button (click)="cerrarOrden()">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>       
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="8">

        <ion-item>
          <ion-label slot="start">
            Cliente:
          </ion-label>
          <ion-label slot="end">
            {{ nombre_cliente }}
          </ion-label>
        </ion-item>

        <ion-row style="display: flex; justify-content: center;">
          <h4>Buscar Productos</h4>
        </ion-row>
      
        <ion-searchbar 
          placeholder="ej. Mojarra"
          inputmode="text"
          debounce="250"
          (ionChange)="buscarProducto( $event )"
        ></ion-searchbar>

        <ion-list class="ion-padding">
          <ion-item *ngFor="let producto of productos">
            <ion-label button (click)="add_producto(producto)">{{producto.nombre}}</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>

      <ion-col size="4">

          <img src="../../../assets/img/logo.png" alt="Mariscos Arroyo" style="width: 30%; display: block; margin:0 auto;">
        
        <ion-item>
          <ion-label slot="start">
            Total
          </ion-label>
          <ion-label slot="end">
            $0
          </ion-label>
        </ion-item>

        <ion-button expand="block" style="margin-top: 1rem;">
          <ion-icon slot="start" name="paper-plane" ></ion-icon>
          Validar
        </ion-button>
      

      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>
