<ion-header>
  <ion-toolbar>
    <ion-title>Buscar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar 
    placeholder="Ej. Juan"
    inputmode="text"
    debounce="250"
    (ionChange)="buscarCliente( $event )"
  ></ion-searchbar>

  <ion-list class="ion-padding">
    <ion-item *ngFor="let cliente of clientes">
      <ion-label button (click)="selec_cliente(cliente)">{{cliente.nombre}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="publicoGral()" expand="block">
    Publico en Gral.
  </ion-button>

</ion-content>

